:root {
	--transparency: 0.5;
	--color: #f2f2f2;
	--active-color: #ffffff;
	--nav-bar-bg-color: #000000;
	--nav-bar-bg-color-rgba: rgba(0, 0, 0, var(--transparency));
}
body {
	font-size: 14px;
	color: var(--color);
	font-family: "EurostileLTStd", "Roboto", sans-serif;

	background-size: cover;
}

#wrapperdiv {
	max-height: 100%;
	height: 100vh;
}

.wrapper {
	min-height: 100%;
}

.flexstretch {
	position: relative;
	background: var(--nav-bar-bg-color-rgba);
}

#portrait-banner {
	margin: 0;
	padding: 0;
	font-family: "EurostileLTStd-BoldEx2", "Roboto", sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #333333;
	color: var(--color);
	position: absolute;
	top:0;
	left: 0;
	z-index: 100;

}

#countdown {
	padding: 15px 0 15px 25px;
	display: flex;
    align-self: center;
    align-items: center;
}

#countdown .time-label {
	width: 113px;
	max-width: 113px;
	padding-right: 0;
}

#countdown .time {
	display: inline-block;
    line-height: 30px;
    height: 30px;
}

.float_left {
	position: absolute;
	right: -21px;
	top: calc(50% - 30px);
	z-index: 55;
}

#content {
	background: #303030;
	color: var(--color);
	background: none;
}

.sidebar.left .logo {
	padding: 10px 0 10px 8px;
	cursor: default;
}

.sidebar.left .list-sidebar.bg-defoult {
	background: none;
	overflow: hidden;
}

.sidebar ul a {
	border-left: 10px solid;
	border-color: transparent;
	font-size: 14px;
}

.sidebar.left .float_left a.button-left {
	width: 21px;
	display: block;
	height: 60px;
	background: var(--nav-bar-bg-color-rgba);
}

 a.button-left.close-btn .button_collapse {
	background: url(../images/close.png) no-repeat left;
	width: 21px;
	display: block;
	height: 60px;
	margin-left: 4px;
}

a.button-left.open-btn .button_collapse {
	background: url(../images/open.png) no-repeat left;
	width: 21px;
	display: block;
	height: 60px;
	margin-left: 4px;
}

.sidebar.left ul li .nav-label {
	padding-right: 25px;
    display: inline-block;
    overflow: hidden;
    height: 30px;
	width: 160px;
	white-space: nowrap;
	line-height: 30px;
}

.sidebar.left ul li a.logo .nav-label {
	padding-left: 15px;
	height: 45px;
}

a:hover {
	text-decoration: none;
}

/***********************  TOP Bar ********************/
.sidebar li a.logo:hover {
	background: none !important;
	border-left: 10px solid transparent;
}
#sidebar {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.sidebar {
	width: auto;
	height: 100vh;
	max-height: 100%;
	background: none;
	overflow-y: auto;
	/* transition: width 0.3s ease-in-out; */
}

.sidebar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.bg-defoult {
	background-color: var(--nav-bar-bg-color);
}

.sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.sidebar ul li .img-icon {
	width: 30px;
	height: 30px;
	margin-right: 25px;
}
.sidebar ul li .img-icon > img {
	vertical-align: baseline;
}

.sidebar li a.collapsed.active {
	display: block;
	padding: 15px 0 15px 15px;
	color: var(--active-color);
	text-decoration: none;
}


.sidebar li a {
	display: flex;
    padding: 15px 0 15px 15px;
    color: var(--color);
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    align-items: center;
}

.sidebar li.active a {
	background: var(--nav-bar-bg-color-rgba);
	color: var(--active-color);
	/* transition: all 0.3s ease-in-out; */
	border-left: 10px solid var(--nav-bar-bg-color);
	font-size: 16px;
}

.sidebar li a:hover {
	background: var(--nav-bar-bg-color-rgba);
	color: var(--active-color);
	border-left: 10px solid var(--nav-bar-bg-color);
}

.sidebar li a i {
	padding-right: 5px;
}

.sidebar li a .nav-label,
.sidebar li a .nav-label + span {
	transition: display 0.3s ease-in-out;
}

.sidebar.flip li a .nav-label,
.sidebar.flip li a .nav-label + span {
	transition: display 0.3s ease-in-out;
	display: none;
}

.sidebar.flip {
	width: 80px;
	transition: all 0.3s ease-in-out;
}

.sidebar.flip li {
	position: relative;
}

#content {
	/* padding-top: 10px !important;
	padding-left: 35px !important; */
	width: 100%;
}

.full-screen-btn {
	display: inline-block;
	border-bottom: 10px solid transparent;
	background-color: transparent;
	cursor: pointer;
	padding: 10px;
	margin: 0;
	position: fixed;
	right: 0;
	bottom: 0;
}

.full-screen-btn:hover {
	color: var(--active-color);
	text-decoration: none;
	background: var(--nav-bar-bg-color-rgba);
	border-bottom: 10px solid var(--nav-bar-bg-color);
	display: inline-block;
}

.footer-icon {
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	background-position: center;
	float: left;
	display: inline-block;
}

.full-screen-btn > .fullscreen-icon {
	background: url(../images/full_screen.svg) no-repeat;
}

.full-screen-btn > .minimize-icon {
	background: url(../images/minimize.svg) no-repeat;
}

@media (max-width: 980px) {
	.sidebar.left a.logo {
		padding: 10px 0 10px 10px;
	}

	.sidebar a {
		font-size: 20px;
	}
}


.loader {
	height: 100vh;
	width: 100%;
    font-family: "EurostileLTStd-BoldEx2", "Roboto", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: var(--color);
	margin: 0 auto;
	position: absolute;
	z-index: 40;
	top: 0;
	left: 0;
}

.loader > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader > div:not(:last-child) {
	margin-bottom: 120px;
	/* height: 30%; */
}

/* .loader > div:last-child {
	height: 20%;
} */

.loader-header {
	height: auto;
}
.loader-header > img {
	height: 160px;
    width: 280px;
}

.loader-content {
	height: auto;
}

.loader-content > img {
	height: 150px;
    width: 200px;
}

.loader-content > .img-play {
	height: 150px;
	width: 150px;
}

.loader-content > img.lg {
	height: 100px;
    width: 200px;
}

.loader-content > img.md {
	height: 75px;
    width: 150px;
}

.loader-content > img.sm {
	height: 60px;
    width: 120px;
}
.loader-content > img.xs {
	height: 40px;
    width: 80px;
}

.loader-footer {
	height: auto;
	flex-direction: column;
}
.loader-footer > p.sm-msg {
	font-size: 14px;
}
.loader-footer > p > span {
	font-size: 18px;
	font-family: "EurostileLTStd", "Roboto", sans-serif;;
}

/* @media (orientation: landscape) and (max-width: 700px) {
	#ck-fullscreen {
		display: none;
	}
} */
/* @media screen and (max-width: 995px) , screen and (max-height: 700px) */
@media screen and (max-width: 700px), screen and (max-height: 600px) {
	.loader > div:not(:last-child)  {
		margin-bottom: 50px;
	}
	#ck-fullscreen {
		display: none;
	}
}

@media screen and (max-width: 700px), screen and (max-height: 465px) {

	.loader > div:not(:last-child)  {
		margin-bottom: 20px;
	}

	.loader-header > img {
		height: 140px;
		width: 250px;
	}

	.loader-content > img {
		height: 130px;
		width: 170px;
	}

	.loader-content > .img-play {
		height: 130px;
		width: 130px;
	}

	.loader-content > img.lg {
		height: 90px;
		width: 180px;
	}

	.loader-content > img.md {
		height: 65px;
		width: 130px;
	}

	.loader-content > img.sm {
		height: 50px;
		width: 100px;
	}
	.loader-content > img.xs {
		height: 30px;
		width: 60px;
	}
	#ck-fullscreen {
		display: none;
	}
}

.iframeStyle {
	position: absolute;
	top: 0px;
	left: 50%;
}
